.jumbotron.text-center
  h1 Продажа: {{ main.kurs.sellAverage }}
  h1 Покупка: {{ main.kurs.buyAverage }}
  p
    span(ng-bind="main.kurs.todayCount")
    |  человек(а)&nbsp;
    a(ui-sref="main.date({ date: main.today })") сегодня
  p а также график изменения за&nbsp;
    a(ui-sref="main.graph({ period: 'week' })") неделю
    |  и за&nbsp;
    a(ui-sref="main.graph({ period: 'month' })") месяц
  ui-view
.container
  .col-md-6.col-md-offset-3
    p Сервис создан людьми и для людей. Поэтому, будьте человеком, не добавляйте неверные значения.
    form(ng-submit="main.add(main.addKurs)", ng-if="!(main.isAddedSell && main.isAddedBuy)")
      .form-group
        label.control-label Курс
        input.form-control.input-lg(type="number", ng-model="main.addKurs.kurs", required,
        min="{{main.min}}", max="{{main.max}}",
        maxlength="{{main.maxlength}}", minlength="{{main.minlength}}")

      .form-group
        label.control-label Местоположение
        input.form-control.input-lg(type="text",
        typeahead="place.place as place.place for place in main.places | filter:$viewValue | limitTo:10",
        ng-model="main.addKurs.place")

      .form-group
        .btn-group.btn-group-justified
          label.btn.btn-default(ng-model="main.addKurs.type", ng-if="!main.isAddedSell",
          btn-radio="'sell'", ng-change="main.changeType(main.addKurs.type)") Продажа
          label.btn.btn-default(ng-model="main.addKurs.type", ng-if="!main.isAddedBuy",
          btn-radio="'buy'", ng-change="main.changeType(main.addKurs.type)") Покупка

      button.btn.btn-primary.btn-block.btn-lg(type="submit") Добавить
    h2.text-center(ng-if="main.isAddedSell && main.isAddedBuy") Спасибо
